.dropzone {
    &.next,
    &.prev {
        position: absolute;
        height: 100%;
        top: 0;
        width: 50%;

        > div {
            width: 3px;
            height: 100%;
            background-color: $gd-color-highlight;
        }
    }

    &.next {
        right: 0;

        > div {
            float: right;
            margin-left: 3px;
        }
    }
    &.prev {
        left: 0;

        > div {
            float: left;
            margin-left: -3px;
        }

        &.placeholder {
            width: 100%;
        }
    }
}

.dash-item {
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    padding: 10px;
    min-height: $item-min-height;
    position: relative;

    // Grid definition
    @media #{$small-up} {
        flex: 0 0 100%;
        max-width: 100%;
    }

    @media #{$medium-up} {
        flex: 0 0 50%;
        max-width: 50%;
    }

    @media #{$large-up} {
        flex: 0 0 25%;
        max-width: 25%;
    }

    @media #{$xxlarge-up} {
        flex: 0 0 16.6%;
        max-width: 16.6%;
    }

    @media #{$small-only} {
        flex-direction: column;
        margin-bottom: 20px;
    }

    &:hover {
        a.kpi-link {
            .kpi-value {
                color: $gd-color-link;
            }
        }

        .has-set-alert {
            .dash-item-action-alert {
                background-color: $gd-color-highlight-dimmed;

                &:hover {
                    color: #fff;
                    background-color: $gd-color-highlight;
                }
            }
        }

        .is-alert-highlighted {
            .dash-item-action-alert {
                color: #fff;
                background-color: $gd-color-highlight;
            }
        }

        .is-alert-triggered {
            .dash-item-action-alert {
                background-color: transparentize($gd-color-warning, .5);

                &:hover {
                    background-color: $gd-color-warning;
                    color: $gd-color-warning-label;
                }
            }
        }
    }

    .is-placeholder-content {
        position: absolute;
        top: 10px;
        left: 10px;
        bottom: 10px;
        right: 10px;

        border-color: $gd-color-disabled;
        border-style: dashed;

        cursor: default;
    }

    .is-selected {
        &.dash-item-content {
            &,
            &:hover {
                border-color: $gd-color-highlight;
                border-style: solid;
                cursor: default;
            }
        }
    }

    .dash-item-content {
        &:hover {
            .dash-item-action-alert {
                display: block;
            }
        }

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            right: 50%;
            bottom: 50%;

            border-radius: inherit;
            background-color: $gd-color-warning-dimmed;

            transition: .3s;
        }
    }

    .has-set-alert {
        .dash-item-action-alert {
            display: block;
            color: $gd-color-highlight;
            background-color: transparent;
        }
    }

    .is-alert-dialog {
        border: 3px solid $gd-color-highlight;

        &:hover .dash-item-action-alert {
            background-color: $gd-color-highlight;
        }

        .dash-item-action-alert {
            display: block;
            color: #fff;
            background-color: $gd-color-highlight;
        }

        &.is-alert-triggered {
            border: 3px solid $gd-color-warning;

            .dash-item-action-alert {
                &,
                &:hover {
                    background-color: $gd-color-warning;
                    color: $gd-color-warning-label;
                }
            }
        }
    }

    &.is-edit-mode {
        .dash-item-content {
            .dash-item-action-alert {
                display: none;
            }
        }

        .dash-item-action-alert {
            display: none;
        }

        .is-editable {
            cursor: pointer;

            &.dash-item-content {
                &:hover {
                    border: 3px solid $is-focused-background;
                }
            }
        }
    }

    &.is-selected {
        .is-editable {
            &.dash-item-content {
                border-color: $gd-color-highlight;
                &:hover {
                    border-color: $gd-color-highlight;
                }
            }
        }
    }

    .is-alert-triggered {
        .dash-item-action-alert {
            background-color: transparentize($gd-color-warning, .5);
            color: $gd-color-warning-label-dimmed;
        }
    }


    .is-alert-highlighted {
        &,
        &:hover {
            &:before {
                top: 10px;
                left: 10px;
                right: 10px;
                bottom: 10px;
                background-color: $gd-color-highlight-dimmed;

                animation-name: alert-highlighted;
                animation-duration: .3s;
                animation-iteration-count: 1;
            }

            .dash-item-action-alert {
                &,
                &:hover {
                    background-color: $gd-color-highlight;
                    color: #fff;
                }
            }
        }

        &.is-alert-triggered {
            &,
            &:hover {
                &:before {
                    background-color: $gd-color-warning-dimmed;
                }

                .dash-item-action-alert {
                    &,
                    &:hover {
                        background-color: $gd-color-warning;
                        color: $gd-color-warning-label;
                    }
                }
            }
        }
    }
}

.is-desktop {
    .dash-item-action-alert {
        &:hover {
            color: #fff;
            background-color: $gd-color-text-dimmed;
        }
    }
}

.is-mobile {
    .dash-item-action-alert {
        display: block;
        background: none;
        color: $gd-color-link;
    }
}

.dash-item-content {
    display: flex;
    flex: 1 1 99.999%;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 99.999%; /* 100% has issue in IE (wrong kpi width) */
    padding: 10px;
    border: $kpi-border solid transparent;
    border-radius: 15px;
    line-height: 0;
    transition: .2s;
    background-color: #fff;
}

.dash-item-action {
    font-size: 18px;
    color: #fff;
    line-height: 36px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    width: 36px;
    height: 36px;
    cursor: pointer;
    border-radius: 20px;
}

.dash-item-action-delete {
    background-color: $gd-color-highlight;

    &:before {
        z-index: 2;
    }

    &:hover {
        background-color: $gd-color-negative;
    }
}

.dash-item-action-alert {
    background-color: $is-focused-background;
    color: $gd-color-label;
    display: none;
    transition: .2s;
}

.dash-item-action-close {
    background-color: $gd-color-state-blank;
}

.is-dashboard-reordering {
    .dash-item {
        .is-editable.dash-item-content {
            &,
            &:hover {
                border-color: transparent;
            }

            .dash-item-action {
                display: none;
            }
        }
    }

    .dash-item a.kpi-link .kpi-value {
        color: #000;
    }

    .is-placeholder-content {
        display: none;
    }
}
