{
  "extends": ["gooddata"],
  "rules": {
    "class-methods-use-this": 0,
    "react/forbid-prop-types": 0,
    "react/no-unused-prop-types": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
  }
}
