Vojtech Jasny <vojtech.jasny@gooddata.com> Vojtech Jasny <voy@voy.cz>
Adam Kloboucnik <adam.kloboucnik@gooddata.com> Adam Kloboucnik <a.kloboucnik@gmail.com>
Martin Cermak <martin.cermak@gooddata.com> Martin Cermak <crudo@crudo.cz>
Jan Pradac <jan.pradac@gooddata.com> Jan Pradac <jan.pradac@gmail.com>
Petr Benes <petr.benes@gooddata.com> Petr Benes <xbenes@gmail.com>
