@import "~goodstrap/packages/core/styles/themes/indigo/colors";

$table-small-only: "only screen and (max-width: 480px)";

.indigo-table-component {
    position: relative;
    color: #333333;
    font-family: "Avenir", "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    overflow: hidden;

    &.has-hidden-rows {
        .indigo-table-component-content,
        .indigo-table-background-filler {
            margin-bottom: -15px;
        }

        .fixedDataTableLayout_rowsContainer {
            &:after {
                content: "";
                display: block;
                position: absolute;
                bottom: 13px;
                left: 0;
                right: 0;
                border-top: 1px solid rgba(0, 0, 0, 0.08);
                box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.03);
            }
        }

        .public_fixedDataTable_horizontalScrollbar {
            transform: translateY(-15px); // Can't use margin because the component cancels the shift by updating position
        }
    }

    .indigo-table-component-content {
        width: 100%;
        height: 100%;

        > div,
        .react-table-root {
            height: 100%;
        }

        &.has-sticky-header {
            position: absolute;
            clip: rect(0, auto, auto, 0);
        }

        .sticking {
            box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
        }
    }

    .fixedDataTableLayout_main,
    .fixedDataTableCellLayout_main {
        border: none;
        background: none;
    }

    .fixedDataTableRowLayout_main {
        background-color: #F5F7F9;
    }

    .public_fixedDataTableRow_highlighted .fixedDataTableCellLayout_main {
        background-color: #fff;
    }

    .fixedDataTableCellLayout_main,
    .fixedDataTableLayout_topShadow,
    .fixedDataTableLayout_bottomShadow {
        background: none;
    }

    .fixedDataTableLayout_topShadow {
        height: 100px;
        margin-top: -100px;
        box-shadow: 0 -1px 6px 0 rgba(0,0,0,0.50);
        pointer-events: none;
    }

    .fixedDataTableLayout_bottomShadow {
        margin-top: 0;
        box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.21);
    }

    .fixedDataTableCellGroupLayout_cellGroup > .public_fixedDataTableCell_main {
        white-space: nowrap;
    }

    .public_fixedDataTableCell_cellContent {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .fixedDataTableCellGroupLayout_cellGroup {
        overflow: hidden;
        text-overflow: ellipsis;

        > .fixedDataTableCellLayout_main:last-child .public_fixedDataTableCell_cellContent {
            padding-right: 20px;
        }
    }

    .fixedDataTableLayout_header,
    .fixedDataTableLayout_hasBottomBorder {
        border: none;
    }

    .fixedDataTableLayout_header,
    .fixedDataTableLayout_footer  {
        padding: 0;
        background: #fff;
        box-shadow: none;
        white-space: nowrap;

        .gd-table-header-ordering {
            color: $gd-color-state-blank;
            cursor: pointer;

            &:hover {
                color: $gd-color-highlight;

                .public_fixedDataTableCell_cellContent {
                    background-color: $gd-color-highlight-dimmed;
                }
            }

            .public_fixedDataTableCell_cellContent {
                display: flex;
            }

            .gd-table-arrow-up,
            .gd-table-arrow-down {
                display: inline-block;
                margin-left: 4px;

                flex: 0 0 auto;

                &:before {
                    content: "\e60d";
                    display: inherit;
                    position: relative;
                    top: 1px;

                    font-family: Indigo;
                    font-size: 10px;

                    vertical-align: bottom;
                }
            }

            .gd-table-arrow-up:before {
                top: -2px;
                transform: rotate(180deg);
            }

            .gd-table-header-title {
                flex: 0 1 auto;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .fixedDataTableCellLayout_main {
            color: $gd-color-state-blank;
            font-size: 10px;
            font-weight: normal;
            text-transform: uppercase;

            background: none;
        }

        .public_fixedDataTableCell_cellContent {
            padding: 0 8px;
            margin: 8px 0;
            line-height: 16px;
        }
    }

    .fixedDataTableCellLayout_wrap1 {
        width: inherit;
        table-layout: fixed;
    }

    .fixedDataTableCellLayout_alignRight {
        .gd-table-header-ordering {
            .gd-table-header-title {
                flex: 1 1 auto;
            }
        }
    }
}

.gdc-indigo-responsive-table {
    .indigo-button-bar {
        width: 100%;
        padding: 20px 0 4px;
        text-align: center;
    }

    button {
        margin: 0 4px;
    }
}

.gd-cell-ordered {
    font-weight: bold;
}

.gd-table-header-bubble-overlay {
    @media #{$table-small-only} {
        left: 20px !important;
        right: 20px !important;

        .gd-table-header-bubble.bubble.arrow-top-direction {
            .arrow-position {
                margin: 0;
            }
        }
    }
}

.gd-table-header-bubble {
    &.bubble {
        max-width: 300px;

        @media #{$table-small-only} {
            max-width: none;
        }
    }

    .bubble-content {
        padding: 14px 20px;

        .content {
            overflow: visible;
            color: $gd-color-label;
        }
    }

    .content {
        .close-button.button-link {
            position: absolute;
            top: 7px;
            right: 7px;
        }

        .gd-dialog-header {
            margin-bottom: 10px;
            white-space: normal;
        }

        .gd-heading-2 {
            line-height: 24px;
        }
    }

    .buttons {
        margin: 10px -20px 0;
        padding: 20px 20px 6px;
        border-top: 1px solid $border-color;

        .button-sort-asc,
        .button-sort-desc {
            padding-right: 25px;

            &:after {
                font-size: 10px;
                line-height: 23px;
            }
        }

        .button.button-primary {
            &.button-sort-asc {
                &:after {
                    transform: rotate(180deg) translateY(50%);
                }
            }
        }
    }

    .button + .button {
        margin-left: 20px;
    }
}
