$gdc-goodstrap-basepath: '~@gooddata/goodstrap/lib/';

@import '~fixed-data-table-2/dist/fixed-data-table.css';
@import '~@gooddata/goodstrap/lib/core/styles/themes/indigo/colors';
@import '~@gooddata/goodstrap/lib/core/styles/themes/indigo/IndigoFont';
@import 'variables';

.indigo-table-component {
    position: relative;
    overflow: hidden;
    font-family: 'Avenir', 'Helvetica Neue', Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 100%;
    color: #333;

    &.has-hidden-rows {
        .indigo-table-component-content,
        .indigo-table-background-filler {
            margin-bottom: -15px;
        }

        .fixedDataTableLayout_rowsContainer {
            &::after {
                content: '';
                position: absolute;
                right: 0;
                bottom: 13px;
                left: 0;
                display: block;
                border-top: 1px solid rgba(0, 0, 0, 0.08);
                box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.03);
            }
        }

        .public_fixedDataTable_horizontalScrollbar {
            // Can't use margin because the component
            // cancels the shift by updating position
            transform: translateY(-15px);
        }
    }

    .indigo-table-component-content {
        width: 100%;
        height: 100%;

        > div,
        .react-table-root {
            height: 100%;
        }

        &.has-sticky-header {
            position: absolute;
            clip: rect(0, auto, auto, 0);
        }

        .sticking {
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
        }
    }

    .fixedDataTableLayout_main,
    .fixedDataTableCellLayout_main {
        border: none;
        background: none;
    }

    .fixedDataTableRowLayout_main {
        background-color: #f5f7f9;
    }

    .public_fixedDataTableRow_highlighted .fixedDataTableCellLayout_main {
        background-color: #fff;
    }

    .fixedDataTableCellLayout_main,
    .fixedDataTableLayout_topShadow,
    .fixedDataTableLayout_bottomShadow {
        background: none;
    }

    .fixedDataTableLayout_topShadow {
        height: 100px;
        margin-top: -100px;
        box-shadow: 0 -1px 6px 0 rgba(0, 0, 0, 0.5);
        pointer-events: none;
    }

    .fixedDataTableLayout_bottomShadow {
        margin-top: 0;
        box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.21);
    }

    .fixedDataTableCellGroupLayout_cellGroup > .public_fixedDataTableCell_main {
        white-space: nowrap;
    }

    .public_fixedDataTableCell_cellContent {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .fixedDataTableCellGroupLayout_cellGroup {
        overflow: hidden;
        text-overflow: ellipsis;

        > .fixedDataTableCellLayout_main:last-child .public_fixedDataTableCell_cellContent {
            padding-right: 20px;
        }
    }

    .fixedDataTableLayout_header,
    .fixedDataTableLayout_hasBottomBorder {
        border: none;
    }

    .fixedDataTableLayout_header,
    .fixedDataTableLayout_footer {
        padding: 0;
        box-shadow: none;
        white-space: nowrap;
        background: #fff;

        .gd-table-header-ordering {
            color: $gd-color-state-blank;
            cursor: pointer;

            &:hover {
                color: $gd-color-highlight;

                // refactor
                // stylelint-disable-next-line max-nesting-depth
                .public_fixedDataTableCell_cellContent {
                    background-color: $gd-color-highlight-dimmed;
                }
            }

            .public_fixedDataTableCell_cellContent {
                display: flex;
            }

            .gd-table-arrow-up,
            .gd-table-arrow-down {
                display: inline-block;
                flex: 0 0 auto;
                margin-left: 4px;

                // refactor
                // stylelint-disable-next-line max-nesting-depth
                &::before {
                    content: '\e60d';
                    position: relative;
                    top: 1px;
                    display: inherit;
                    font-family: Indigo;
                    font-size: 10px;
                    vertical-align: bottom;
                }
            }

            .gd-table-arrow-up::before {
                top: -2px;
                transform: rotate(180deg);
            }

            .gd-table-header-title {
                display: inline-block;
                flex: 0 1 auto;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .fixedDataTableCellLayout_main {
            font-size: 10px;
            font-weight: normal;
            text-transform: uppercase;
            color: $gd-color-state-blank;
            background: none;
        }

        .public_fixedDataTableCell_cellContent {
            margin: 8px 0;
            padding: 0 8px;
            line-height: 16px;
        }
    }

    .fixedDataTableCellLayout_wrap1 {
        width: inherit;
        table-layout: fixed;
    }

    .fixedDataTableCellLayout_alignRight {
        .gd-table-header-ordering {
            .gd-table-header-title {
                flex: 1 1 auto;
            }
        }
    }
}

.gdc-indigo-responsive-table {
    .indigo-button-bar {
        width: 100%;
        padding: 20px 0 4px;
        text-align: center;
    }

    button {
        margin: 0 4px;
    }
}

.gd-cell-ordered {
    font-weight: bold;
}

.gd-table-header-bubble-overlay {
    @media #{$insight-small-only} {
        // overwrite
        // stylelint-disable-next-line declaration-no-important
        right: 20px !important;
        // overwrite
        // stylelint-disable-next-line declaration-no-important
        left: 20px !important;

        .gd-table-header-bubble.bubble {
            &.arrow-top-direction,
            &.arrow-bottom-direction {
                // refactor
                // stylelint-disable-next-line max-nesting-depth
                .arrow-position {
                    margin: 0;
                }
            }
        }
    }
}

.gd-table-header-bubble.bubble {
    max-width: 300px;

    @media #{$insight-small-only} {
        max-width: none;
    }

    .bubble-content {
        padding: 14px 20px;

        .content {
            overflow: visible;
            color: $gd-color-label;
        }
    }

    &.arrow-top-direction,
    &.arrow-bottom-direction {
        .arrow,
        .arrow-border {
            left: -7px;
            border-width: 10px;
        }

        .helper {
            height: 11px;
        }
    }

    &.arrow-top-direction {
        .helper {
            top: -11px;
        }

        .arrow {
            top: -4px;
        }

        .arrow-border {
            top: -5px;
        }
    }

    &.arrow-bottom-direction {
        .helper {
            bottom: -11px;
        }

        .arrow {
            top: -1px;
        }
    }

    &.arrow-tr,
    &.arrow-br {
        .arrow,
        .arrow-border {
            left: -13px;
        }
    }

    .content {
        .close-button.button-link {
            position: absolute;
            top: 12px;
            right: 12px;
        }

        .gd-dialog-header {
            margin: 0 0 10px;
            white-space: normal;
        }

        .close-button ~ .gd-dialog-header {
            margin-right: 30px;
        }
    }

    .buttons {
        margin: 10px -20px 0;
        padding: 20px 20px 6px;
        border-top: 1px solid $border-color;

        .button-sort-asc,
        .button-sort-desc {
            padding-right: 25px;

            &::after {
                font-size: 10px;
                line-height: 23px;
            }
        }

        .button.button-primary {
            &.button-sort-asc {
                // refactor
                // stylelint-disable-next-line max-nesting-depth
                &::after {
                    transform: rotate(180deg) translateY(50%);
                }
            }
        }
    }

    .button + .button {
        margin-left: 20px;
    }
}
